---
import type { Props } from '@astrojs/starlight/props'
import Default from '@astrojs/starlight/components/Footer.astro'
import { Image } from 'astro:assets'
import adatomicLogoBlack from '../assets/adatomic-logotype-color-black-h-1200x302.webp'
import adatomicLogoWhite from '../assets/adatomic-logotype-color-white-h-1200x302.webp'
---

<Default {...Astro.props}>
  <slot />
</Default>
<footer>
  <div class="grid grid-cols-2">
    <div>
      <a href="https://www.adatomic.com/">
        <Image
          class="dark:hidden"
          width="280"
          src={adatomicLogoBlack}
          alt="ADAtomic logo"
        />
        <Image
          class="hidden dark:inline"
          width="280"
          src={adatomicLogoWhite}
          alt="ADAtomic logo"
        />
      </a>
      <p>&copy; 2024 ADAtomic, Inc. All rights reserved.</p>
    </div>
    <div class="flex justify-end items-end">
      <a href="https://shop.grlx.dev" class="text-accent-600 dark:text-accent-200"><p >shop.grlx.dev</p></a>
    </div>
  </div>
</footer>
