---
import type { Props } from '@astrojs/starlight/props'
import Default from '@astrojs/starlight/components/Footer.astro'
import { Image } from 'astro:assets'
import adatomicLogoBlack from '../assets/adatomic-logotype-color-black-h-1200x302.webp'
import adatomicLogoWhite from '../assets/adatomic-logotype-color-white-h-1200x302.webp'
---

<Default {...Astro.props}>
  <slot />
</Default>
<footer>
  <a href="https://www.adatomic.com/">
    <Image
      class="dark:hidden"
      width="280"
      src={adatomicLogoBlack}
      alt="ADAtomic logo"
    />
    <Image
      class="hidden dark:inline"
      width="280"
      src={adatomicLogoWhite}
      alt="ADAtomic logo"
    />
  </a>
  <p>&copy; 2023 ADAtomic, Inc. All rights reserved.</p>
</footer>
